.headLine {
  position: absolute;
  width: 672px;
  height: 79px;
  left: 164px;
  top: 70px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 79px;
  display: flex;
  align-items: flex-end;
  color: #373a3c;
}

.fibOf {
  position: absolute;
  width: 189px;
  height: 24px;
  left: 169px;
  top: 236px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  color: #373a3c;
}

.inputbutton {
  position: absolute;
  width: 86px;
  height: 38px;
  left: 200px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 4px;
}

.button {
  position: absolute;
  width: 39px;
  height: 38px;
  left: 472px;
  top: 235px;
  background: #0275d8;
  border: 1px solid #0275d8;
  box-sizing: border-box;
  border-radius: 4px;
  color: white;
  font-size: 16px;
}
.button:focus {
  outline-color: none;
}

.result {
  position: absolute;
  width: 28px;
  height: 24px;
  left: 525px;
  top: 240px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  text-decoration-line: underline;
  color: #373a3c;
}

/* #loader {
  position: absolute;
  left: 525px;
  top: 240px; */

/* .spinner-border:after {
  display: hidden;
  position: absolute;
  left: 525px;
  top: 240px;
} */

.spinner-border {
  position: absolute;
  left: 525px;
  top: 240px;
}

.loaded {
  display: none;
}

.redblock {
  position: absolute;
  background: #f2dede;
  border: 1px solid #ebcccc;
  border-radius: 4px;
  position: absolute;
  width: 181.59px;
  padding: 4px;
  height: 33.4px;
  left: 203.41px;
  top: 280px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  color: #a94442;
}

.gone {
  display: none;
}

.inputerror {
  color: #D9534F;
;
  border: 1px solid #D9534F;
  ;
}

.errorText{
  color:#D9534F;
  position: absolute;
  left: 530px;
  top: 240px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
